<!DOCTYPE html>
<html ng-app="power">
<head>
  <title>Simple Angular Auth</title>
  <!-- External JS Resources -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <script src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.min.js"></script>
  <script type="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"></script>
  <script src="http://underscorejs.org/underscore.js"></script>  


  <!-- Internal JS Resources -->
  <script type="text/javascript" src="./js/lib/jquery.js"></script>
  <script src="./js/app.js"></script>
  <script type="text/javascript" src="./js/services/tokenService.js"></script>
  <script type="text/javascript" src="./js/services/authInterceptor.js"></script>
  <script type="text/javascript" src="./js/controllers/usersController.js"></script>
  <script type="text/javascript" src="./js/controllers/powersController.js"></script>
  <script type="text/javascript" src="./js/controllers/recipientsController.js"></script>

  <script type="text/javascript" src="./js/models/user.js"></script>
  <script type="text/javascript" src="./js/models/recipient.js"></script>
  <script type="text/javascript" src="./js/models/power.js"></script>
  <script type="text/javascript" src="./js/models/category.js"></script>


  <!-- Style -->
  <link rel="stylesheet" type="text/css" href="./css/style.css">

</head>
<body>

  <div ng-controller="usersController as users">

    <ul class= "nav">
      <li><a href="#join" ng-click="showjoin = !showjoin" ng-init="showjoin = false">Join</a></li>
      <li><a href="#authorize" ng-click="showlogin = !showlogin" ng-init="showlogin = false">Log In</a></li>
      <li><a ng-click="users.disappear()">Log Out</a></li>
    </ul>

    <!-- users controller for log in -->
    <div class="join">
      <form id="join" ng-show="showjoin" ng-submit="users.join()">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="name" ng-model="users.user.username">

        <label for="email">email</label>
        <input type="text" name="email" placeholder="What's your email?" ng-model="users.user.email">

        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password" ng-model="users.user.password">
        <input type="submit" value="Ready to Join" ng-click="showjoin = !showjoin">
      </form>
    </div>

    <div class="login">
      <form id="authorize" ng-show="showlogin" ng-submit="users.authorize()">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="name" ng-model="users.user.username">

        <label for="name">Email</label>
        <input type="text" name="name" placeholder="What is your email?" ng-model="users.user.email">

        <label for="password">Password</label>
        <input type="password" name="password" placeholder="What is your password?" ng-model="users.user.      password"> 
        <input type="submit" value="Log Me In" ng-click="showlogin = !showlogin">
      </form>
    </div>



    <!-- main / powers controller -->

    <!-- need to add ng-repeat to go over each button-->
    <main ng-controller="PowersController as power" ng-if="users.isLoggedIn()">
     <!-- <div ng-repeat="categories in powers.all"> -->
     <div class="content wrapper">
       <div class="homegrid">
        <div class="container">
          <div class="row">
            <div class="four columns">
              <div class="u-max-full-width" src="">
                <a class="button button-primary" ng-click="power.selectPower(power.categories[0].name)">{{ power.categories[0].name }}</a>
                <a class="button button-primary" ng-click="power.selectPower(power.categories[1].name)">{{ power.categories[1].name }}</a>
                <a class="button button-primary" ng-click="power.selectPower(power.categories[2].name)">{{ power.categories[2].name }}</a>
              </div>
              <div class="four columns">
                <a class="button button-primary" ng-click="power.selectPower(power.categories[3].name)">{{ power.categories[3].name }}</a>
                <a class="button button-primary" ng-click="power.selectPower(power.categories[4].name)">{{ power.categories[4].name }}</a>
                <a class="button button-primary" ng-click="power.selectPower(power.categories[5].name)">{{ power.categories[5].name }}</a>
              </div>
              <div class="four columns">
                <a class="button button-primary" ng-click="power.selectPower(power.categories[6].name)">{{ power.categories[6].name }}</a>
                <a class="button button-primary" ng-click="power.selectPower(power.categories[7].name)">{{ power.categories[7].name }}</a>
                <a class="button button-primary" ng-click="power.selectPower(power.categories[8].name)">{{ power.categories[8].name }}</a>
              </div> 
            </div>
          </div>
          <!-- <img ng-src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTrkPRaBlhUsk5zuyfCGB_Q-kMhZYsRRJefWXRW-uNpx8tk_3DR8A{{arrow}}" alt="arrow"> -->

        </div>
      </div>
    </div>
    <!-- below is the recipient's name to be entered-->
    <!-- recipients controller -->

    <div ng-controller="RecipientsController as recipients">
      <div class="recipients-box">
        <div class="content-wrapper">
          <form ng-submit="recipients.save()">
            <div class="centered">
              <h2>Send Power To:</h2>
              <input type="text" name="recipient[name]" nmodel="recipients.recipient.name" autofocus>
            </div>
          </form> 

          <div class= "send" ng-class="recipients.recipient.name"> {{ recipients.recipient.name}} </div>
        </div>      

        <!-- below is the powers message to be edited and sent -->
        <!-- main / powers controller --> 

        <div class="power">
          <h2  ng-model="recipients.recipient.name" ng-show="recipients.recipient.name"> {{ recipients.recipient.name}} </h2>
          <form ng-submit="scrollDown()"> 
            <textarea id="TextArea" rows="10" cols="50" wrap= 'hard' ng-model="power.power.text" ng-keyup="autoExpand($event)" placeholder="Your power will appear here, edit it as you wish...."></textarea>
          </form>
    
        </div> 


        <div class="send-tile">
        <p> Reveal your identity or just who wrote it...? </p>
        <div class="recipient-wrapper">
            <input type="text" placeholder="from" {{power.power.citation}} "and..."  ng-model="power.power.citation"><br>
            <input type="text" name="phone_number" placeholder="what's their number? " ng-model="power.power.phone_number"><br>
          </div>
          <div="sendbutton">
            <input class="sendbutton" id="sendbutton"type="submit" ng-click="power.savePowers()" value="Send It"><br>
        </div>
        </div>

      </div>
      <!-- below is the form which grabs the recipient phone number -->
    </main>
  </div>
</body>
</html>